{% if arts.count > 0 %}
{% for art in arts %}
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            
            	
            
     <thead><tr><td>Username</td><td>Email</td> <td>Action</td>  </tr></thead>        	
              <tbody><tr>
<td>{{ art.username }}</td> <td>{{art.email}}</td> <td><a href="/site/w/join/{{ art.pk }}"><button type="button" class="btn-primary">Add to circle</button></a></td>
</tr></tbody></table>
 
{% endfor %}
{% else %}
<li> No one by that username!</li>
{% endif %}