{% extends 'freelance/indexp.html' %}

{% block content %}

{% load render_table from django_tables2 %}
 <br>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>Writer's payment statistics</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <tbody>
               <tr><td>
                 {% render_table tablestats %} 
                </td></tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated at {{ now }}</div>
      </div>
    </div>

{% endblock %}

