{% extends 'accounts/loginbase.html' %}
{% block content %}


	<div class="container">

<div class="featured-post-wrapper" style="margin:100px 0px;">
                            
                            <div class="featured-post-text-wrapper">

		<div class="row" style="margin-top:100px;">
			<div class="col-md-4 col-md-offset-4"></div>
			

			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<center><h3 class="panel-title"></h3></center>
					</div>
					<div class="panel-body">

<p><h6>You have registered successfully!! We have sent you an email confirmation link to activate your account.Please confirm your registration and login <a href="/accounts/login/">here</a></h6></p>
<script>setTimeout(function(){window.location.href="/accounts/login/"},10000);</script>
					</div>
				</div>		
			</div>

			<div class="col-md-4 col-md-offset-4"></div>

		</div>


</div>
                        </div>







	</div>
{% endblock %}
{% block javascript %}
<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}