<footer>
    <div class="container">
    <div class="row" style="">
        <div class="col-md-6">
            {% load staticfiles %}
            <img src="{% static '/images/logo.jpg' %}" height="75px" alt="" style="float:left;">
        </div>
        <div class="col-md-6">
                <div style="float:right; ">
                        <ul style="display:inline-block; list-style:none!important; padding-left:0px!important;">
                                <li class="footer-social" style="float:left; margin-bottom:15px;"><a class="" href="#"><img class="shadow2" src="{% static '/img/google-plus.png' %}" alt="" style="float:left;"></a></li>
                                <li class="footer-social" style="float:left; margin-bottom:15px;"><a class="" href="#"><img class="shadow2" src="{% static 'img/linkedin.png' %}" alt="" style="float:left;"></a></li>
                                <li class="footer-social" style="float:left; margin-bottom:15px;"><a class="" href="#"><img class="shadow2" src="{% static '/img/twitter.png' %}" alt="" style="float:left;"></a></li>
                                <li class="footer-social" style="float:left; margin-bottom:15px;"><a class="" href="#"><img class="shadow2" src="{% static '/img/facebook.png' %}" alt="" style="float:left;"></a></li>
                                <li class="footer-social" style="float:left; margin-bottom:15px;"><a class="" href="#"><img class="shadow2" src="{% static '/img/instagram.png' %}" alt="" style="float:left;"></a></li>
                            </ul>
                </div>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul style="list-style:none!important; padding-left:0px!important;">
                <li><a href="#" class="footer-links footer-first">FEATURES</a></li>
                <li><a href="#" class="footer-links">Made For Google</a></li>
                <li><a href="#" class="footer-links">Drive Sales</a></li>
                <li><a href="#" class="footer-links">Get visibility</a></li>
                <li><a href="#" class="footer-links">Take action</a></li>
                <li><a href="#" class="footer-links">All in one Place</a></li>
            </ul>
        </div>
        <div class="col-md-2">
                <ul style="list-style:none!important; padding-left:0px!important;">
                        <li><a href="#" class="footer-links footer-first">RESOURCES</a></li>
                        <li><a href="#" class="footer-links">Made For Google</a></li>
                        <li><a href="#" class="footer-links">Drive Sales</a></li>
                        <li><a href="#" class="footer-links">Get visibility</a></li>
                        <li><a href="#" class="footer-links">Take action</a></li>
                        <li><a href="#" class="footer-links">All in one Place</a></li>
                        <li><a href="#" class="footer-links">Take action</a></li>
                    </ul>
        </div>
        <div class="col-md-3">
                <ul style="list-style:none!important; padding-left:0px!important;">
                        <li><a href="#" class="footer-links footer-first">COMPANY</a></li>
                        <li><a href="#" class="footer-links">Made For Google</a></li>
                        <li><a href="#" class="footer-links">Drive Sales</a></li>
                        <li><a href="#" class="footer-links">Get visibility</a></li>
                        <li><a href="#" class="footer-links">Take action</a></li>
                    </ul>
        </div>
    </div>
</div>
</footer>