{% load staticfiles %}
<nav class="navbar-fixed-to-top navbar navbar-expand-md  bg-dark navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static '/images/logo.jpg' %}" height="50px">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="#">Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li>
                    <a class="nav-link" href="">Customers</a>
                </li>
                <li>
                    <a class="nav-link" href="">Pricing</a>
                </li>
                <li>
                    <a class="nav-link" href="">Resources</a>
                </li>
                <li>
                    <a class="nav-link" href="">About</a>
                </li>

            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ml-auto">
                <!-- Authentication Links -->
    
                    <li class="nav-item">
                        <a class="nav-link sales-btn" href="/accounts/login/">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link trial-btn" href="/register/">Register</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>