{% extends 'accounts/loginbase.html' %}
{% block content %}
<div class="container">

<div class="featured-post-wrapper" style="margin:100px 0px;">
                            
                            <div class="featured-post-text-wrapper">

		<div class="row" style="margin-top:100px;">
			<div class="col-md-4 col-md-offset-4"></div>
			

			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<center><h3 class="panel-title">Reset your password here </h3></center>
					</div>
					<div class="panel-body">
						{% if validlink %}
						<form method="post">{% csrf_token %}
							<p class="bs-component">
								{% csrf_token %}
								{{form.as_p}}</p>	
								<center>
									<input class="btn btn-success btn-sm btn-block" type="submit" value="Submit"/>
								</center>
								<br>
								<div class="text-center">
          <a class="d-block small mt-3" href="/accounts/login/">Login</a> <br>
          
       </div><br><br>
						</form>
						{% else %}
<center>
						 <h6> <p>
						      The password reset link is invalid, possibly because it has already been used,invalid, or expired.
						      Please request a new password reset <a href="/password_reset/">here</a>
						    </p></h6></center>
						    <script>setTimeout(function(){window.location.href="/password_reset/"},10000);</script>
					  {% endif %}
					</div>
				</div>		
			</div>

			<div class="col-md-4 col-md-offset-4"></div>

		</div>


</div>
                        </div>
                        {% endblock %}
